/* Forgot Password POPUP */
#pwdModal {
    text-align: center;

    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 385px;
        }
    }

    .modal-title {
        padding: 20px 0;
    }

    .modal-content {
        border: 0;
        border-radius: 0;

        a.instagram {
            background-color: $main-color;
            color: #fff;
            text-decoration: none;
            padding: 16px;
            font-size: 15px;
            line-height: 19px;
            display: block;
            margin-bottom: 25px;
        }

        .pwd-response {
            .pwd-success {
                color: #5cb85c;
            }

            .pwd-error {
                color: red;
            }


        }


        .pwd {


            input {
                border: 0;
                border-bottom: 1px solid #bfd4d5;
                border-radius: 0;
                padding-left: 0;

                &::placeholder {
                    color: #bfd4d5;
                    font-style: italic;
                }
            }

            button[type=submit] {
                background-color: $main-color;
                color: #fff;
                text-decoration: none;
                padding: 16px;
                font-size: 15px;
                line-height: 19px;
                display: block;
                margin-bottom: 15px;
                width: 100%;
                border: 0;
                border-radius: 0;
                text-transform: uppercase;
            }
        }
    }
}
