.subscribe-wrap {
  background-color: #f7f7f7;
  .section-heading {
    h2.heading {
      text-transform: uppercase;
      color: #174976;
    }
    p {
      color:#fff;
      font-size: 14px;
    }
  }
  .form-control{
    border-radius: 0;
    border: 0;
    padding: 26px 18px;
  }
  input[type=submit]{
    width:auto;
    text-transform: uppercase;
    display: inline-block;
    background-color: #174976;
    border-radius: 0;
    border: none;
  }
  .custom-control-label {
    color: #a29c9c;
    &:before {
      border-radius: 0;
      @media (max-width: 575px){
        left: 0;
      }
    }
  }
}
.site-section {
  padding: 2em 0;
  overflow: hidden;
}
.custom-checkbox.rigid-colors {
  width:100%;
  text-align: center;
  padding-bottom: 10px;
}
.country-input{
  .inline
  {
    display: block;
  }
  input
  {
    width: 55%;
    display: inline-block;
    &.country-code{
      width:100%;
      max-width: 150px;
    }
    @media (max-width: $breakpoint-575) {
      width:100%;
      max-width: 100% !important;
    }
  }
}