.page-about-us {

  #secondary{
    position: relative;

    .nav{
      background: #f7f7f7;
      padding: 30px;
      li{
        display: block;
        width: 100%;
        margin-bottom: 20px;
        text-transform: uppercase;
        @include fontSize(14);
        i{
          font-weight: 400;
          bottom: -1px;
          position: relative;
          padding-left: 3px;
        }
      }
    }
  }


}