.ad-container {
    .ad {
        text-align:center;
        img {
            width: auto;
        }
         &.ad-mpu{
             margin-top: 80px;
         }
    }
}
#sticky-ads{
    position: sticky;
    top:0;

}
