.page {
  &.page-blog {
    padding-bottom: 40px;

    section.blogs{
      .blog-title-category{
        background: #003768;
        color: #fff;
        text-transform: uppercase;
        @include fontSize(26);
        padding: 10px 30px;
        letter-spacing: 2px;
        margin-bottom: 20px;
      }
      .title_text_inner{
       text-transform: uppercase;
        h3{
          margin: 10px 0;
        }
      }

      .blog-load-more p{
        text-align: center;
        margin: 20px 0 40px;
        a{
          text-transform: uppercase;
          border: 1px solid #003768;
          padding: 8px 12px;
          color: #003768;
        }
      }
    }
  }
}