body.category {
    .search-bar-category {
        @media (min-width: 1200px) {
            .col-lg-9 {
                padding-right: 0;
            }
            .col-lg-3 {
                padding-left: 30px;
            }
        }
    }

    @media (min-width: 1200px) {
        .blog_sidebar.menu-valid {
            position: fixed;
        }
    }
    /* SEARCH BAR */
    #i0 {
        input {
            border-radius: 0px;
            box-shadow: none;
            border: 1px solid #f7f7f7;
            padding: 9px 8px 9px 35px;
            color: #c3c3c3;
            font-size: 17px;
            line-height: 21px;
            width: 101%;
            display: inline-block;
            background: #f7f7f7;

            &::placeholder {
                color: #c3c3c3;
            }

            @media (max-width: $breakpoint-991) {
                margin-bottom: 14px;
                width: 100%;
            }
        }

        .c6287 {
            background: url(https://omneeyat.com/assets/images/search.png) no-repeat scroll center center transparent;
            cursor: pointer;
            height: 22px;
            margin-left: 0;
            margin-top: -32px;
            left: 0;
            position: relative;
            width: 35px;
            @media (max-width: $breakpoint-991) {
                position: absolute;
                top: 10px;
                margin-top: 0;
                left: 14px;
            }
        }
    }


    .navbar-form select.form-control {
        width: 100%;
        height: 41px;
        background-image: url(https://omneeyat.com/assets/images/arrow.png);
        background-size: 13px;
        background-repeat: no-repeat;
        background-position: 92% center;
        padding: 6px 16px;
        background-color: transparent;
        border: 1px solid #bfd4d5;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 16px;
        line-height: 1.5;
        color: #a7c5c7;

        &:focus {
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }
    }

    .category-side ul {
        list-style: none;
        padding: 0;
        color: #bfd4d5;

        li {
            margin-bottom: 8px;

            a {
                color: #bfd4d5;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    .blog_box {
        position: relative;

        .price {
            position: absolute;
            right: 8px;
            top: 8px;
            background: #a7c5c7;
            color: #fff;
            border-radius: 100%;
            vertical-align: middle;
            display: inline-block;
            padding: 6px 4px;
            text-align: center;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
        }

        img {
            width: 100%;
        }

        .blog_detail {
            background-color: #f7f7f7;
            @media (min-width: 992px) {
                min-height: 131px;
            }

            ul {
                padding: 0;
                margin-bottom: 0;

                li {
                    display: inline-block;
                    background-color: #a7c5c7;
                    padding: 0 15px;
                    border-radius: 25px;
                    margin-bottom: 12px;

                    a {
                        color: $main-color;
                        text-decoration: none;
                        font-size: 14px;
                        line-height: 18px;
                    }

                }

                @media (min-width: 992px) {
                    min-height: 67px;
                }
            }

            h5 a {
                color: $main-color;
                text-decoration: none;
            }
        }

    }

    #search_result {
        background-color: #fff;
        z-index: 999;
        width: 100%;
        position: absolute;
        top: 50px;
        max-height: 411px;
        overflow: auto;
        //overflow-x: hidden;

        .categories {
            a {
                display: inline-block;
                background-color: $main-color;
                color: #fff;
                padding: 6px;
                margin-right: 5px;
                margin-bottom: 5px;
            }
        }

        .talents {
            img {
                max-width: 100%;
            }
        }
    }
}

.menu-category-item{
    padding-left: 7px;
    padding-right: 7px;
}

.category-item {
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.category-item:hover{

    color:#3BBAB1 !important;
}

.category-item-link {
    padding-right: 5px !important;
    padding-left: 5px !important;
}
.category-item-link:hover {
   color: #3BBAB1 !important;
}
//@media only screen and (min-width: 990px) {
    .h-220 {
        height: 170px !important;
    }
//}
@media only screen and (max-width: 990px) {
    .category-head-title .ca-desc-block .btm-img.circle{
        display: none;
    }
    .category-head-title .ca-desc-block .btm-img.circle{
        display: none;
    }
    .square-block{
        display: none;
    }
    .category-head-title .ca-desc-block .btm-img.slash{
        display: none;
    }
    .category-head-title {

        height: auto !important;
    }
    //.h-220 {
    //    height: 295px !important;
    //}
    .category-title {
        font-size: 20px !important;
        line-height: 34px !important;
    }
    .category-head-title .ca-desc-block {
        position: unset !important;
    }
}
