section.error {
    .main-title{
        padding-top: 150px;
        color: #29bab2;
        font-size: 60px;
        line-height: 64px;
        font-family: $font-bold-montserrat;
    }
    .sub-title{
        padding-top: 70px;
        color: #ffffff;
        font-size: 50.5px;
        line-height:54.5px;
        font-family:  $font-bold-montserrat;
    }
    .pt-block-40{
        padding-top: 40px;
    }

    .btn.btn-return {
            border-radius: 5px;
            color: white;
            background-color: #3BBAB1;
            width: 100%;
            font-size: 17px;
            font-family: $font-bold-montserrat;

    }
    .btn.btn-return:hover {
        color: #29bab2;
        background-color: white;
        text-decoration: none;
    }
    @media (max-width: 992px){
        .main-title{
            padding-top: 20px;
            color: #29bab2;
            font-size: 23px;
            line-height: 27px;
            font-family: $font-bold-montserrat;
        }
        .sub-title{
            padding-top: 5px;
            color: #ffffff;
            font-size: 17.5px;
            line-height:22.5px;
            font-family:  $font-bold-montserrat;
        }
        .btn.btn-return {
            border-radius: 5px;
            color: white;
            background-color: #29bab2;
            width: 80%;
            font-size: 12px;
            font-family: $font-bold-montserrat;

        }
        .pt-block-40{
            padding-top: 10px;
        }
    }
}
