body.reset{
  .section-heading{
    font-size: 24px !important;
    line-height: 28px !important;
    font-size: 1.5rem !important;
  }

  .section-subheading{
    font-size: 18px !important;
    line-height: 22px !important;
    color: #9e9e9e;
  }

  input,select{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #aec9ca;
    border-radius: 0;
    padding: 0;
    &:focus{
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none;
      border-color: #aec9ca;
      background-color: transparent;
    }
  }

  .form-group label{
    color: $main-color;
    font-weight: 600;
  }

  .first-col{
    label{
      width: 20%;
      display: inline-block;
      position: relative;
      left: 0;
      top: 14px;
    }
    input{
      display: inline-block;
      width: 79%;
    }

  }

  .second-col{
    label{
      width: 32%;
      display: inline-block;
      position: relative;
      left: 0;
      top: 13px;
    }
    select{
      display: inline-block;
      width: 66%;
      color: #aec9ca;
    }

  }

  .third-col{
    label{
      width: 44%;
      display: inline-block;
      position: relative;
      left: 0;
      top: 14px;
    }
    input{
      display: inline-block;
      width: 54%;
    }

  }

  button[type=submit] {
    color: #fff;
    background-color: $main-color;
    border-color: $main-color;
    border-radius: 0;
    padding: 10px 96px;
    text-transform: uppercase;
  }

}
