section.landing-page {
    //background-color: $main-color;
    color: $main-color;
    background-color: white;
    font-family: $font-futura;
    &.page-font{
        color:#ffc396;
        //font-weight:800;
    }
    .page-color{
        background-color: #145258;
    }
    .ajax-load{
        display:none;
        text-align: center;
        p{
            color:#145258;
            font-size: 20px;
        }
    }
    .category-description{
        color: #145258;
        font-weight: bold;
    }

    .subscribe {
        //form.fbt-email-form, form#mc-embedded-subscribe-form {
        //    position: relative;
        //    background-color: transparent;
        //    width: 50%;
        //    margin: 0 auto;
        //
        //    //input {
        //    //    //width: 90%;
        //    //    height: 40px !important;
        //    //    border: 0;
        //    //    border-bottom: 1px solid #fff;
        //    //    padding: 0;
        //    //    background: 0;
        //    //    font-size: 16px;
        //    //    color: #fff !important;
        //    //    background-color: transparent !important;
        //    //
        //    //    &:focus {
        //    //        outline: none;
        //    //        background-color: transparent;
        //    //    }
        //    //
        //    //    &::placeholder {
        //    //        color: #c3c3c3;
        //    //        font-style: italic;
        //    //        font-weight: normal;
        //    //        font-family: 'Futura Light';
        //    //        font-size: 15px;
        //    //
        //    //    }
        //    //
        //    //    @media (max-width: $breakpoint-575) {
        //    //        width: 96%;
        //    //    }
        //    //
        //    //}
        //
        //    input[type="submit"] {
        //        position: absolute;
        //        right: 6px;
        //        top: 0px;
        //        height: 48px !important;
        //        padding: 17px 0;
        //        border-radius: 25px;
        //        width: 140px;
        //        line-height: 98%;
        //        background-color: #4a42ec;
        //        color: #ffffff !important;
        //        border: 0;
        //        -webkit-transition: background-color 0.3s ease;
        //        transition: background-color 0.3s ease;
        //        background: 0;
        //        font-size: 16px;
        //
        //        @media (max-width: $breakpoint-575) {
        //            width: 105px;
        //            right: 1px;
        //        }
        //
        //    }
        //
        //    @media (max-width: $breakpoint-575) {
        //        width: 100%;
        //    }
        //
        //}

        .footer-mailing {
            color: #fff;
            margin-bottom: 8px;
            font-family: 'Futura Heavy';
            @media (max-width: $breakpoint-575) {
                @include fontSize(18);
            }
        }

        .footer-desc {
            color: #fff;
            margin-bottom: 20px;
            font-family: 'Futura Light';
        }

        .btn-primary:focus {
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            background: transparent !important;
            color: #fff !important;
            border-color: #fff !important;
        }
    }


}

footer.landing-page {

    background: #fff;

    p .btn-register {
        border-color: $main-color;
        color: $main-color;
    }

    ul.social-buttons li a {
        color: $main-color;
    }

    .accepted-cards-title {
        color: $main-color;
    }

    //footer {
    //
    //    p .btn-register {
    //        border-color: $main-color;
    //        color: $main-color;
    //    }
    //
    //    ul.social-buttons li a {
    //        color: $main-color;
    //    }
    //
    //    ul.quicklinks li a {
    //        color: $main-color;
    //    }
    //
    //    .accepted-payments-title {
    //        color: $main-color;
    //    }
    //}

}
