body.page {
    .heading-text {
        h2 {
            margin-bottom: 20px;
        }
    }
}
section.generic-page{
    background-color: white;
    color:black;

    .page-title{
        font-family: $font-bold-montserrat;
    }
    .page-content{
        font-family: $font-roboto;
    }
}
