section.payment {
    .payment-status {
        .payment-status-title, .payment-status-subtitle {
            text-align: center;
        }
    }

    .payment-details {
        margin-top: 30px;
        padding: 40px 0;
        //background-color: $secondary-color;
    }
}

.thanks-statement{
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    &.final{
        line-height: 28px;
        font-size: 15px;
        font-weight: normal;
    }
}
.profile-image{
    img{
        width:100%;
    }
}
.spot-img{
    width:100%;
}
.separator{
    border: 1px solid #eee;
}
