body.video, body.booking {

    .video-detail-title {
        font-family: 'Futura Medium';
        color: $main-color;
        @include fontSize(50);

        @media (max-width: $breakpoint-575) {
            @include fontSize(25);
        }
    }

    .brief {
        color: #9e9e9e;
        margin-bottom: 12px;
    }

    /* Rating Star Widgets Style */
    .rating-stars ul {
        list-style-type: none;
        padding: 15px 0;
        margin-bottom: 0;

        -moz-user-select: none;
        -webkit-user-select: none;
    }

    .rating-stars ul > li.star {
        display: inline-block;

    }

    /* Idle State of the stars */
    .rating-stars ul > li.star > i.fa {
        font-size: 1.5em; /* Change the size of the stars */
        color: #ccc; /* Color on idle state */
    }

    /* Hover state of the stars */
    .rating-stars ul > li.star.hover > i.fa {
        color: #FFCC36;
    }

    /* Selected state of the stars */
    .rating-stars ul > li.star.selected > i.fa {
        color: #FF912C;
    }


    .single-video {

        .full-screendiv {
            height: 47px;
            width: 100%;
            //background-color: #dfe9ea;
            margin-bottom: 36px;

            @media (min-width: 992px) {
                position: relative;

                &:before {
                    content: "";
                    background-color: #dfe9ea;
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: -2.7%;
                    width: 2.7%;
                    z-index: -1;

                }
                &:after {
                    content: "";
                    background-color: #dfe9ea;
                    position: absolute;
                    height: 100%;
                    top: 0;
                    right: -28%;
                    width: 28%;
                    z-index: -1;
                }


            }

            @media (max-width: $breakpoint-575) {
                display: none;
            }

        }


        .share {
            margin-bottom: 24px;

            span {
                font-family: 'Futura';
                display: inline-block;
                color: #9e9e9e;
                font-size: 14px;
            }

            ul {
                display: inline-block;
                padding-left: 15px;
                margin: 0;

                li {
                    display: inline-block;
                    padding-right: 12px;

                    a {
                        color: #a7c5c7;
                    }

                }

            }
        }


        .btn-book-now {
            display: inline-block;
            background-color: white;
            @include fontSize(14);
            border: 1px solid $main-color;
            border-radius: 0;
            color: $main-color;
            padding: 13px 100px;
            margin-top: 20px;
            margin-bottom: 23px;
        }

        .back-home a {
            color: $main-color;
        }

        .bytalent {

            .thumb-talent {
                height: 98px;
                width: 98px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                overflow: hidden;
            }

            h4 {
                @include fontSize(24);
                margin-top: 20px;
            }

            .by-talent-title span {
                font-family: 'Futura Heavy';
                color: $main-color;
            }

            .talent-category {
                margin-bottom: 20px;

                a {
                    font-family: "Futura Light";
                    display: inline-block;
                    color: $main-color;
                    @include fontSize(14);
                    background-color: #a7c5c7;
                    margin-right: 10px;
                    padding: 2px 8px;
                    border-radius: 25px;
                }
            }

        }


    }

    //.video-js .vjs-big-play-button {
    //    /* bottom: 15px;
    //     right: 15px;
    //     left: auto !important;
    //     top: auto !important;*/
    //}
    //
    //.video-js .vjs-tech {
    //    object-fit: fill;
    //}

    .my-video-dimensions {
        max-width: 100%;
        margin: 0 auto;
        background: transparent;
        margin-bottom: 15px;
    }

}
