body.thankyou {
    .section-heading {
        font-size: 35px !important;
        line-height: 39px !important;
        font-family: 'Futura Medium';
        color: $main-color;
    }

    .section-subheading {
        @include fontSize(16);
        font-family: 'Futura';
        color: #9e9e9e;
    }


    .section-read {
        @include fontSize(16);
        color: #9e9e9e;
        font-family: 'Futura';
        @media (min-width: 992px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .order-details {
        padding: 20px 0;

        .order-title {
            font-family: 'Futura';
            margin-bottom: 20px;
            @include fontSize(20);
            color: $main-color;

        }

        ul {
            list-style: none;
            padding: 0;

            li {
                font-family: 'Futura';
                display: inline-block;
                margin-right: 44px;
                @include fontSize(16);
                color: $main-color;

                span {
                    margin-left: 5px;
                    color: #9e9e9e;
                }
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    .order-details-home {
        .thank-you-home {
            @include fontSize(16);
            font-family: 'Futura';
            color: #9e9e9e;

            span {
                color: $main-color;
                text-decoration: underline;
            }
        }
    }
}
