
@font-face {
    font-family: "Noto Sans";
    src:  url("../../fonts/NotoSansArabic-Regular.ttf") format("opentype");
    src:  url("../../fonts/NotoSansArabic-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans Bold";
    src:  url("../../fonts/NotoSansArabic-CondensedBold.ttf") format("opentype");
    src:  url("../../fonts/NotoSansArabic-CondensedBold.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: "Montserrat";
    src:  url("../../fonts/Montserrat-Regular.ttf") format("opentype");
    src:  url("../../fonts/Montserrat-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat Bold";
    src:  url("../../fonts/Montserrat-Bold.ttf") format("opentype");
    src:  url("../../fonts/Montserrat-Bold.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Regular.ttf') format("opentype");
    src: url('../../fonts/Roboto-Regular.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;

}