input, textarea {
    outline: none !important;
}

* {
    outline: none !important;
}

html {
    position: relative;
    min-height: 100%;
    background: var(--main-bg);

}

body {

    font-family: var(--font-text);
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: var(--muted);
    margin-bottom: 320px;
    text-align: $text-align;

    @media (max-width: $breakpoint-767) {
        margin-bottom: 0;
    }
}

h1, h2, h3 {
    //font-family: $font-header;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    color: inherit;
}

textarea {
    resize: none;
}

.w-100 {
    width: 100%;
}

.text-center-991 {
    @media (max-width: $breakpoint-991) {
        text-align: center;
    }
}

.hide-767 {
    @media (max-width: $breakpoint-767) {
        display: none;
    }
}

.show-767 {
    display: none;

    @media (max-width: $breakpoint-767) {
        display: inline-block;
    }
}

.row-eq-height {
    @media (min-width: 992px) {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.text-lines {
    color: #000;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;

    &:before,
    &:after {
        content: "";
        background-color: #000;
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }

    &:before {
        right: 0.5em;
        margin-left: -50%;
    }

    &:after {
        left: 0.5em;
        margin-right: -50%;
    }
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-centered {
    float: none;
    margin: 0 auto;
}


.content {
    text-align: center;
    margin-bottom: 35px;
}

.no-transition {
    @include transition(none);
}

//body.home {
//    background-color: $main-color;
//}

.ar{
    .modal-header .btn-close {
        padding: unset !important;
        margin: unset !important;
    }
}

.ar{
    .lang{
        font-family: 'Montserrat',serif;;
    }
}

.en{
    .lang{
        font-family: 'Noto Sans Bold' , serif;
    }
}
.lang{
    a{
        &:hover{
            color: $white !important;
        }
    }

}

.rs-picker-default .rs-picker-toggle.rs-btn {
    padding-bottom: 2px !important;
    padding-top:2px !important;
    background-color: transparent !important;
    border: unset !important;
    border-radius: 0 !important;
    border-bottom: 1px solid var(--border-color) !important;
    font-size: 12px !important;
}
.rs-picker-date .rs-picker-toggle.rs-btn .rs-picker-toggle-caret, .rs-picker-date .rs-picker-toggle.rs-btn .rs-picker-toggle-clean, .rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-caret, .rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
    right: 12px;
    top: 2px !important;
}

.rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
    color: var(--text-color) !important;
}
.color-muted{
    color: var(--muted);
}
a:hover, a:focus{
    text-decoration: unset !important;
}

.ml-auto{
    margin-left: auto;
}
.w-30{
    width: 30%;
}
.w-70{
    width: 70%;
}
.w-60{
    width: 60%;
}
.w-20{
    width: 20%;
}
.w-40{
    width: 40%;
}
.w-10{
    width: 10%;
}

@media (min-width: 992px) {
    .d-lg-none{
        display: none !important;
    }
}
.splash-screen {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    //background-color: #f2f3f8;
    color: $primary;



}

.splash-screen img {
    //margin-left: calc(100vw - 100%);
    //margin-bottom: 30px;
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    background-color: var(--main-bg);
    left: 0;
}
.fs-7{
    font-size: 7px !important;
}

.loader-in {
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

}

.loader-in div {
    position: absolute;
    border: 4px solid $primary;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader-in div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}