footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 343px; /* Set the fixed height of the footer here */
    $elements_max_width: 270px;
    font-family: var(--font-text);

    @media (max-width: $breakpoint-767) {
        height: auto;
        position: static;
    }
    #scroll-to{
        background-color: #000000;
        padding-top: 50px;
        font-family:var(--font-title);
    }
    .bg-color-black{
        background-color: #000000;
    }
    .private-desc{
        font-family: var(--font-text);
        font-size:12px;
        padding-top: 10px;
    }

    ul {
        @include reset-padding-margin;

        li {
            color: #ffffff;
            @include inline-li;
            font-size: 1rem;
            @include transition-all(0.3s);
            a{
                color: #ffffff;
            }

            &:hover {
                color: $primary;
            }
        }
    }
    ul.payments-list{
        padding: 0;
        margin-bottom: 30px;
        font-family:var(--font-text) ;
        font-size:14px;
    }

    .logo-container {
        img {
            max-width: $elements_max_width;
        }
    }


    .social-links {
        //margin: 10px 50px;
        ul {
            //max-width: $elements_max_width;
            text-align: center;

            li {
                width: 30px;
            }
        }
    }

    .footer-mailing {
        font-family: var(--font-text);
        margin-bottom:0;
        color: #d3d3d3;
        @include fontSize(17);
    }

    .subscribe-text {
        font-family:var(--font-text);
        font-size:12px;
        color:#9d9d9d;
    }
    .input-group{
        font-family: var(--font-text);
        font-size:16px;
         width:87%;
    }





    .footer-line{
        border: 1px solid white;
    }

    .copyright {
        font-family: var(--font-title);
        background: #ffffff;
        color: #000000;
        text-align: center;
        padding: 10px 0;
        @include fontSize(13);
    }
}

.ar{
footer{

        .links {
            font-family: var(--font-text);
            color: #d3d3d3;
            ul {
                margin-bottom: 15px;

                li {
                        margin-left: 1rem;

                    a{
                        color:#d3d3d3;

                        &:hover{
                            color: $primary;
                        }
                    }

                    position: relative;
                    font-size: 12px;

                    &:after {
                        content: "|";
                        position: absolute;
                        top: 50%;

                            left: -0.7rem;


                        @include transform-translate-Y(-50%);
                    }

                    &:last-child {
                            left: -0.7rem;


                        &:after {
                            content: none;
                        }
                    }

                }
            }
        }

        .accepted-payments {
            h3 {
                font-size: 14px;
                font-family:var(--font-text);
                color: #ffffff;
            }

            ul {
                li {
                    margin-left: 12px;

                    margin-bottom: 8px;

                    img {
                        width: 45px;

                        @media (max-width: $breakpoint-991) {
                            width: 45px;
                        }

                        @media (max-width: $breakpoint-575) {
                            width: 40px;
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

}
.en{
    footer{

            .links {
                font-family: var(--font-text);
                color: #d3d3d3;
                ul {
                    margin-bottom: 15px;

                    li {

                        margin-right: 1rem;

                        a{
                            color:#d3d3d3;

                            &:hover{
                                color: $primary;
                            }
                        }

                        position: relative;
                        font-size: 12px;

                        &:after {
                            content: "|";
                            position: absolute;
                            top: 50%;


                            right: -0.7rem;


                            @include transform-translate-Y(-50%);
                        }

                        &:last-child {

                            margin-right: 0;


                            &:after {
                                content: none;
                            }
                        }

                    }
                }
            }

            .accepted-payments {
                h3 {
                    font-size: 14px;
                    font-family:var(--font-text);
                    color: #ffffff;
                }

                ul {
                    li {

                        margin-right: 12px;

                        margin-bottom: 8px;

                        img {
                            width: 45px;

                            @media (max-width: $breakpoint-991) {
                                width: 45px;
                            }

                            @media (max-width: $breakpoint-575) {
                                width: 40px;
                            }
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

    }
}