@media (max-width: 576px) {
  .justify-content-sm-center {
    justify-content: center !important;
  }
}

//@media (min-width: 992px){
  .form-check.form-check-custom{
    height: 35px;
    min-height: 35px;
  }
//}

