.top-bar{
  .container{
    width: 100%;
    max-width: 100%;
    background-color: #013668;
  }
  .row{
    width: 100%;
    max-width: 100%;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #013668;
  }
  ul{
    list-style: none;
    margin-bottom: 0;
  }

  ul li{
    float: left;
    margin: 10px 35px 6px;
    font-weight: 400;
  }

  .member_login{
    background-color: #C2D9A5;
    padding: 8px;
    margin: 0 35px;
    color: #013668;
  }
}