.img-container{
    top: 0;
    transition: top ease 0.09s;
    position: relative;
    img{
        object-fit: cover;
        height: 300px;
        width: 100%;
    }
    &:hover{
        top: -15px;
    }
}
