.symbol {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    border-radius: 0.42rem;
}

.symbol.symbol-40 .symbol-label {
    width: 40px;
    height: 40px;
}

.symbol .symbol-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    line-height: 0;
    color: #3F4254;
    background-color: #F3F6F9;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
}

.link-primary {
    color: #3BBAB1 !important;
}

.link-primary:hover {
    color: #ffffff !important;
}

.card-body {
    &.font-chart-color {
        color: black;
    }
}

.br-p {
    border-radius: 15px;
    padding: 25px
}

.br-15 {
    border-radius: 15px;
}

.ar{
    .pl-25-pt-10 {
        padding-right: 25px;
        padding-top: 10px
    }
}
.en{
    .pl-25-pt-10 {
        padding-left: 25px;
        padding-top: 10px
    }
}


.p-25 {
    padding: 25px;
}

.pt-pb-15 {
    padding-bottom: 15px;
    padding-top: 15px;
}

.bg-brand {
    background-color: #2176bd !important;
    color: #f3f3f3 !important;
}

.interests {
    background-color: #802932 !important;
    color: #f3f3f3 !important;
}
.f-18{
    font-size: 18px;
}

.brand-likers {
    background-color: #145258 !important;
    color: #f3f3f3 !important;
}

.interest-likers {
    background-color: #990055 !important;
    color: #ffe7b8 !important;
}
.block-p-35{
    padding: 35px;
}
.nb-p-2{
    padding-top: 2px;
}
.card.card-custom.card-stretch.gutter-b {
    height: calc(100% - 30px);
}
.card.card-custom.card-stretch {
    display: flex;
    align-items: stretch !important;
    flex-direction: column;
    height: 100%;
}
.example.example-compact {
    position: relative;
}
.card.card-custom {
    //box-shadow: 0px 0px 30px 0px rgb(82, 63, 105 , 5%);
    border: 0;
}
.gutter-b {
    margin-bottom: 30px;
}
.nav{
    &.nav-pills{
        &.platforms_nav{
            border-bottom: unset !important;
        }
        .nav-item{
            .nav-link{
                &.switch_platform{
                    font-size: 12px;
                    font-weight: 400;
                    font-style: normal;
                    line-height: 24px;
                    color: #222;
                }
            }
        }
    }
}
.nav-pills .nav-link.switch_platform.active {
    color: #495057;
    border-color: #ffffff;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 12px #898E94;
}
.css-13cymwt-control{
    border-style: unset !important;
    border-bottom: 1px solid $primary !important;
    height: 50px !important;
}
.css-1u9des2-indicatorSeparator{
    background-color: unset !important;
}
.card.card-custom {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
    border: 0;
}

.ig-block {
    background: #FFF;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
    margin: 1px;
    max-width: 540px;
    min-width: 326px;
    padding: 0;
    width: 99.375%;
    width: -webkit-calc(100% - 2px);
    width: calc(100% - 2px);
}

.ig-wrapper{
    background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;
}
.ig-video{
    display: flex; flex-direction: row; align-items: center;
}
.ig-post{
    background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;
}
.ig-inner{
    display: flex; flex-direction: column; flex-grow: 1; justify-content: center;
}
.ig-style{
    background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;
}
.ig-b{
    background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;
}
.pad-19{
    padding: 19% 0;
}
.ig-svg{
    display:block; height:50px; margin:0 auto 12px; width:50px;
}
.ig-view{
    color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;
}
.pad-12{
    padding: 12.5% 0;
}
.display-ig{
    display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;
}
.ig-bg-1{
    background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);
}
.ig-bg-2{
    background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;
}
.ig-bg-3{
    background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);
}
.ml-8{
    margin-left: 8px;
}
.ig-bg-4{
    background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;
}
.ig-bg-5{
    width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)
}
.ig-bg-6{
    width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);
}
.ig-bg-7{
    background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);
}
.ig-bg-8{
    width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);
}
.ig-bg-9{
    display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;
}
.ig-bg-10{
    background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;
}
.ig-bg-11{
    background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;
}
.ig-p{
    color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;
}
.ig-href{
    color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;
}

.tiktok-block{
    max-width: 100%;min-width: 100%;
}
.youtube-block{
    left: 0; width: 100%;  position: relative;
}
.youtube-iframe iframe{
    border: 0; top: 0; left: 0; width: 100%;
}
.instagram-media{
    width: 100% !important;
}

.rsme-embed{
    width: 100% !important;
}
.instagram-media-rendered{
    width: unset ;
    min-width: unset !important;
}

