
.slick-arrow-prev {
  left: -5%;
  position: absolute;
  top: 35%;
  z-index: 1;
  cursor: pointer;
}

.slick-arrow-next {
  right: -5%;
  position: absolute;
  top: 35%;
  z-index: 1;
  cursor: pointer;
}

.slick-item{
  text-align:center;
}

.slider-banner .slick-arrow-next {
  right: 2%;
  top: 50%;
}

.slider-banner .slick-arrow-prev {
  left: 2%;
  top: 50%;
}

.slick-partner .slick-arrow-prev {
  left: 0;
  position: absolute;
  top: 35%;
  z-index: 1;
  cursor: pointer;
}

.slick-partner .slick-arrow-next {
  right: 0;
  position: absolute;
  top: 35%;
  z-index: 1;
  cursor: pointer;
}


