
.body-home {
    padding-bottom: 0;
}

@media (min-width: 1440px) {
    body.enroll .top-margin, body.talent .top-margin, body.thankyou .top-margin, body.category .top-margin {
        //min-height: 100%;
    }

}

button:focus {
    outline: none;
}

a:focus {
    outline: 0;
}

.container-booking {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-booking input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#progress-bar {
    background-color: #12CC1A;
    height: 20px;
    color: #FFFFFF;
    width: 0%;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    transition: width .3s;
}

.btnSubmit {
    background-color: #09f;
    border: 0;
    padding: 10px 40px;
    color: #FFF;
    border: #F0F0F0 1px solid;
    border-radius: 4px;
}

#progress-div {
    display: none;
    border: #0FA015 1px solid;
    padding: 5px 0px;
    margin: 30px 0px;
    border-radius: 4px;
    text-align: center;
}

body {
    overflow-x: hidden;
    background-color: #211f20;
    color:#ffffff;
    //font-family: Futura !important;
}

.top-margin {
    margin-top: 87px;
}

.page-section {
    padding: 40px 0
}

.page-section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0px;
}

.page-section .section-subheading {
    margin-top: 1rem;
}

.page-section .section-subheading span {
    background: #bfd4d5;
    color: $main-color;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    @media (max-width: $breakpoint-575) {
        display: block;
    }
}

.slider-container {
    position: relative;
}

body.category .category-side ul li.current-cat a {
    color: $main-color;
    font-weight: 900;
}

.donated {
    text-align: center;
    background-color: #043439;
    color: #fff;
    margin: 0;
    padding: 10px;
}

@media (max-width: 480px) {
    .image-title {
        max-width: 75%;
    }
}

.btn {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.modal-title {
    color: #000000 !important;
}
.modal-content {
    color: #000000 !important;
}

.swal2-title {
    color: #000000 !important;
}
.swal2-icon.swal2-success {
    border-color: $main-color !important;
    color: $main-color !important;
}
.swal2-image {
    width: 20% !important;
    position: absolute !important;
    left: 15px !important;
    top: 0 !important;
}
.swal2-icon.swal2-success [class^=swal2-success-line] {
    display: block;
    position: absolute;
    z-index: 2;
    height: 0.3125em;
    border-radius: 0.125em;
    background-color:  $main-color !important;
}
.my-video-dimensions {
    max-width: 100%;
}

#pageloader {
    background: rgba(255, 255, 255, 0.8);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

#pageloader img {
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    position: absolute;
    top: 50%;
}

//body.talent .form-group label {
//    font-family: 'Futura Medium';
//    font-weight: unset;
//}


.reaction-image-title {
    width: 100%;
    max-width: 270px;
}

.category-image-title {
    width: 100%;
    max-width: 110px;
}

#newaccountModal .new-account button[type=submit] {
    margin-bottom: 25px;
}

.blog_box .talent-img-bg {
    display: block;
    height: 244px;
    width: 100%;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

//.video-caption-inner {
//    background-color: #f2f2f2;
//    padding: 12px;
//}
//
//.video-caption-inner h4 {
//    color: #a7c5c7;
//    font-size: 20px;
//    line-height: 24px;
//    font-weight: 500;
//}
//
//.video-caption-inner .share {
//    margin-bottom: 11px;
//}
//
//.video-caption-inner .share ul {
//    display: inline-block;
//    padding-left: 15px;
//    margin: 0;
//}
//
//.video-caption-inner .share span {
//    display: inline-block;
//    color: #9e9e9e;
//    font-size: 14px;
//}
//
//
//.video-caption-inner .share ul li {
//    display: inline-block;
//    padding-right: 10px;
//}
//
//.video-caption-inner .share ul li a {
//    color: #a7c5c7;
//}
//
//.video-caption-inner .video-details {
//    background-color: #a7c5c7;
//    color: #ffffff;
//    padding: 2px 10px;
//    display: inline-block;
//    border-radius: 25px;
//    font-size: 14px;
//    line-height: 18px;
//}

@media (min-width: 992px) {

    .review-label {
        text-align: right;
    }

    .talent-reviews:before {
        content: "";
        background-color: #dfe9ea;
        position: absolute;
        height: 100%;
        top: 0;
        left: -2%;
        width: 2%;
        z-index: -1;

    }
}

@media (max-width: 991px) {

    .blog_box .talent-img-bg {
        height: 366px;

    }

    .navbar-nav .line {
        display: none;
    }

}

@media (max-width: 575px) {

    .featured-image-title {
        width: 75%;
    }

    .reaction-image-title {
        width: 75%;
    }
}

//.english {
//    display: none !important;
//}


body {
    //font-family: "Droid Arabic Kufi", serif !important;
    //text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    //font-family: "Droid Arabic Kufi", serif !important;
}


//.footer form.fbt-email-form input[type=submit],
//.footer form#mc-embedded-subscribe-form input[type=submit] {
//    left: 6px;
//    right: auto;
//}

//.accepted-payments img {
//    margin-right: auto !important;
//    margin-left: 12px;
//}

.footer ul.social-buttons {
    padding-right: 0;
}

.list-inline-item:not(:last-child) {
    margin-right: auto;
    margin-left: 0.5rem;
}


//body.talent input[type=radio] + label:before,
//body.talent input[type=checkbox] + label:before {
//    margin-right: auto;
//    margin-left: 4px;
//}
//
//body.talent .section-heading {
//    font-family: "Droid Arabic Kufi";
//}
//
//body.talent .form-group label {
//    font-family: "Droid Arabic Kufi";
//}

.talent-weeks .box-talent .price {
    margin-right: 84%;
}
