$badge-pill-padding-x: 1em;
$badge-padding-y: 0.5em;
$badge-padding-x: 1em;

$text-align: left;


@import "node_modules/bootstrap/scss/bootstrap.scss";
@import '~bootstrap-icons/font/bootstrap-icons.css';


@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~video-react/styles/scss/video-react.scss';
@import '~react-bootstrap-typeahead/css/Typeahead.css';

@import "modules/fonts";
@import "modules/variables";
@import "modules/mixins";
@import "modules/helpers";
@import "modules/spacing";
@import "modules/bootstrap-ltr-overwrite";

@import "partials/form";
@import "partials/btn";
@import "partials/media_queries";
@import "partials/badge";
@import "partials/navigation";
@import "partials/footer";
@import "partials/insights";
@import "partials/video-container";
@import "partials/datepicker";
@import "partials/image-container";
@import "pages/general";
@import "partials/form-check";
@import "pages/home";


