//@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
$badge-pill-padding-x: 1em;
$badge-padding-y: 0.5em;
$badge-padding-x: 1em;

$text-align: right;

$font-title: 'Noto Sans';
$font-text: 'Noto Sans';

//@import "node_modules/bootstrap/scss/bootstrap.scss";
//@import '~bootstrap-icons/font/bootstrap-icons.css';
//
////@import "node_modules/bootstrap-select/sass/bootstrap-select.scss";
////@import "../../node_modules/apexcharts/dist/apexcharts.css";
//
////@import "../../node_modules/react-datepicker/dist/react-datepicker.min.css";
//
////$fa-font-path: '/public/assets/fonts/';
////@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
////@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
////@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
////@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
////@import "~@fortawesome/fontawesome-free/css/all.min.css";
//
//
//@import '~@fortawesome/fontawesome-free/css/all.min.css';
//
//
////$slick-font-path: '/src/assets/fonts/';
////@import "node_modules/sweetalert2/src/sweetalert2.scss";
//
////@import "node_modules/video.js/src/css/video-js";
//
////@import "modules/fonts";
//@import "modules/variables";
//@import "modules/mixins";
//@import "modules/helpers";
//@import "modules/spacing";
//@import "modules/bootstrap-ltr-overwrite";
//
//@import "partials/form";
//@import "partials/btn";
//@import "partials/badge";
//
//@import "partials/navigation";
//@import "partials/footer";
//
//@import "partials/insights";
//
//
//@import "partials/video-container";
//@import "partials/datepicker";
//@import "partials/image-container";
//@import "pages/general";
//
//@import "pages/home";

.datepicker {
    direction: rtl;
}
.datepicker.dropdown-menu {
    right: initial;
}


